<section class="col-xs-12 section-greeting">
  <h3 class="col-md-10 col-xs-12 greeting-user-panel">
    <div class="col-sm-6 col-xs-12">
      <img class="display-picture" src="/images/no-user.png" alt="user" />
      <span class="chat-with-user">
        <span class="hidden-xs">Welcome to </span>{{title}}<sup>&reg;</sup>
      </span>
    </div>
    <div class="load-chat hide col-sm-6 col-xs-12">
      <a class="pull-right" href="javascript:void(0)"><small class="load-chat-text">load more..</small></a>
    </div>
    <div class="loaded-chat hide col-sm-6 col-xs-12"><small class="pull-right">loaded all chat msgs..</small></div>
  </h3>
</section>
<main class="col-xs-12 main">
  <div id="scrollbar1" class="scrollbar-panel">
    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
    <div class="viewport">
      <div class="overview">
        <section class="col-xs-12">
          <div class="spinner"><div class="glyphicon glyphicon-refresh spinning"></div></div>
          <article id="messages" class="col-xs-12 message-panel">
            <h1 class="text-center no-chat">
              Select user from top right hamgurber menu to start chat with them.
            </h1>
          </article>
        </section>
      </div>
    </div>
  </div>
</main>
<footer class="col-xs-12 footer">
  <aside class="col-xs-12 typing-user-panel">
    <small id="typing-user" class="typing-user-text"></small>
  </aside>
  <section class="form-inline text-right">
    <div class="form-group col-sm-push-3 col-xs-push-0 col-sm-7 col-xs-12">
      <textarea
        id="input-message"
        class="input-message form-control col-xs-12"
        rows="3" cols="30"
        disabled="disabled"
        placeholder="write your message here...">
      </textarea>
    </div>
    <div class="form-group no-padding col-sm-push-3 col-xs-push-6 col-sm-2 col-xs-6">
      <button type="button" name="button"  id="btn-send-message" class="btn btn-send-message" disabled="disabled">
        <img class="img-send-msg" width="30px" src="/images/btn-send-msg.svg" alt="" />
      </button>
      <button
        type="button" name="button"  id="btn-send-message"
        class="btn btn-send-message" disabled="disabled"
        data-toggle="modal" data-target="#attach-file-popup">
        <img class="img-send-msg" width="30px" src="/images/btn-attachment.svg" alt="" />
      </button>
    </div>
  </section>
</footer>
<div class="col-xs-12">
  <!-- Modal popup -->
  <section id="attach-file-popup" class="modal fade attach-file-popup" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content col-xs-12">
        <form
          id="uploadForm"
          enctype="multipart/form-data"
          action="/api/photo">
          <input type="submit" class="submit-form" id="submit-form"/>
          <div class="modal-header col-xs-12">
            <h4 class="modal-title">Browser the file to attach</h4>
          </div>
          <div class="modal-body col-xs-12">
            <input type="file" name="dataFile" id="textbox-attach-file"/>
            <br>
            <img id="file-uploaded" class="preview-file-uploaded" src="" style="display:none;" />
            <div id="no-preview-msg"></div>
            <br>
            <p id="invalid-upload" class="error-msg"></p>
          </div>
          <div class="modal-footer col-xs-12">
            <input id="submit-upload-popup" class="btn btn-primary" type="button" value="Upload" name="submit" disabled="disabled" onclick="addUserInURL()">
            <button id="close-upload-popup" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
{{#if isNewUser}}
<div class="col-xs-12">
  <!-- Modal popup -->
  <section id="userId-popup" class="modal modal-userId fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content col-xs-12">
        <div class="modal-header col-xs-12">
          <h4 class="modal-title">Please make a note</h4>
        </div>
        <div class="modal-body col-xs-12">
          <p>Dear <strong>{{isNewUser}},</strong>
          <p>Greeting from Windbag.</p><br>
          <p>Here's your user id - <strong>{{loggedInUser}}</strong>. Please make a note as you can use it for future login(s).</p><br>
          <small> - Windbag Support Team </small>
        </div>
        <div class="modal-footer col-xs-12">
          <button type="button" class="btn btn-primary closePopup">Close</button>
        </div>
      </div>
    </div>
  </section>
</div>
{{/if}}
<script>
  $(document).ready(function(){
    $('#userId-popup').modal('show');
    setTimeout(function() {
      $("#scrollbar-panel").tinyscrollbar();
    }, 3000);
  });
</script>
