<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/library/bootstrap/dist/css/bootstrap.css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="col-xs-12 header">
      <div class="col-xs-10"><h1>{{title}}<sup>&copy;</sup></h1></div>
      {{#if loggedInUser}}
      <div class="col-xs-2 text-right"><h4>Hi {{loggedInUser}} !!!</h4></div>
      {{/if}}
    </header>
    {{{body}}}
  </body>
</html>
<script type="text/javascript"  src='/library/jquery/dist/jquery.min.js'></script>
<script type="text/javascript"  src='/library/bootstrap/dist/js/bootstrap.min.js'></script>
<script type="text/javascript" src='/socket.io/socket.io.js'></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
