@import "vector-icons";

body {
  background: #edeff5 url("/images/background.jpeg") no-repeat fixed center 70px / contain;
  cursor: default;
  font: 16px "Jura", Helvetica, Arial, sans-serif;
  transition: all 1s linear;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
canvas {
  background: transparent;
  border-radius: 4px;
  margin-left: 15px;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: inherit;
  font-weight: bold;
}
input {
  text-transform: lowercase;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: all 0.1s linear;
  }
  &:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: all 0.1s linear;
  }
}
.selectable {
  cursor: text;
  user-select: initial;
  -webkit-user-select: initial;
  -moz-user-select: element;
  -ms-user-select: initial;
}
.header {
  color: #fff;
  .app-title {
    font-family: "Stalemate";
    margin: 0;
    padding: 0;
  }
}
.section-greeting {
  background: #edeff5;
  margin-top: 60px;
  padding: 0 20px;
  position: fixed;
  z-index: 1;
  .greeting-user-panel {
    border-bottom: 10px solid #e1e1e1;
    margin-bottom: 1px;
    padding: 0 0 5px;
  }
}
.main {
  margin: 150px auto 20px;
  .message-panel {
    margin: 20px 0 110px;
    .para-message {
      border: 1px solid #23527c;
      border-radius: 4px;
      color: #000;
      font-size: 16px;
      padding: 8px 10px 15px;
      min-width: 45%;
      max-width: 85%;
      position: relative;
      width: auto;
      word-wrap: break-word;
      &.pull-left {
        background: #d1e4f3;
      }
      &.pull-right {
        background: #efe0f3;
      }
      b {
        color: #c100ff;
        font-size: 18px;
        vertical-align: top;
      }
      small {
        color: #555;
      }
      span[class*='vector'] {
        font-size: 44px;
        margin-left: 10px;
      }
    }
  }
}
.radio-panel {
  margin-bottom: 20px;
  .radio-user {
    margin-top: 2px;
  }
}
.form-control,
.btn {
  font-size: 16px;
  font-weight: bold;
}
.error-msg {
  color: red;
  font-size: 12px;
}
.server-error {
  background: rgba(234,201,244,0.7);
  border: 1px solid #8d00b7;
  border-radius: 5px;
  box-shadow: 2px 1px 5px #A55CBB;
  color: #5D4764;
  font-weight: bold;
  margin: 10% auto 0;
  padding: 20px;
  text-align: center;
  width: 50%;
}
.login {
  height: 35px;
  overflow: hidden;
  opacity: 0;
  width: 35px;
}
.on-load-login-panel {
  animation: spin 0.8s ease-in-out;
  height: 100%;
  margin-top: 105px;
  opacity: 0.85;
  overflow: visible;
  width: 100%;
  transition: all 1s linear;
}
.login-panel {
  animation: bounce 0.8s ease-in-out;
  height: 100%;
  margin-top: 105px;
  opacity: 0.85;
  overflow: visible;
  width: 100%;
  transition: all 1s linear;
}
.radio-existing-user {
  margin-right: 20px;
}
.footer {
  background: #fff;
  border-top: 1px solid #AEB6BF;
  bottom: 0;
  padding: 0 10px 10px;
  position: fixed;
  right: 0;
  z-index: 1;
  .input-message {
    border: 1px solid #3086ec;
    color: #000;
    width: 100%;
  }
  .btn-send-message {
    background: transparent;
    border: 1px solid #3086ec;
    border-radius: 0;
    float: left;
    margin: 0 5px;
    padding: 5px;
    &:first-child {
      margin: 0;
    }
    &:not(:disabled):hover {
      border: 1px solid #133c6b;
    }
    &:disabled {
      background: #acacac;
    }
  }
}
.hidden-element {
  display: none;
}
.navbar-header {
  background: #1d1d1d;
  float: none;
  .user-detail {
    margin: 12px 0 0;
    padding: 0;
  }
  .userId-detail {
    display: inline-block;
    margin: 2px 15px 0 2px;
  }
}
.navbar-brand {
  height: auto;
}
.navbar-toggle {
  background: #4e7075;
  border-color: #5D4764 !important;
  display: block;
  margin-top: 5px;
  &:hover,
  &:focus {
    background: darken(#4e7075, 10%) !important;
  }
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-collapse.collapse {
  display: none!important;
  &.in{
    display:block !important;
  }
}
.navbar-collapse {
  padding: 0 !important;
}
.navbar-nav {
  float: none!important;
  & > li {
    float: none;
  }
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #333 !important;
}
.no-margin {
  margin: 0;
}
.form-control {
  border-radius: 0;
  border: 1px solid #598383;
  height: 40px;
  &:focus {
    background: #C2D8D8;
    box-shadow: none;
  }
}
.btn-submit {
  bottom: -80px;
  position: absolute;
  right: 16px;
  z-index: 10;
}
.btn-login {
  bottom: -65px;
  position: absolute;
  right: 16px;
  z-index: 10;
}
.btn-primary {
  background: #598383;
  border-color: #598383;
  &:hover,
  &:focus {
    background: #71B4B4;
    border-color: #71B4B4;
  }
}
.modal-header {
  background: #598383;
  color: #000;
  padding: 15px;
}
.modal-title {
  font-weight: bold;
}
.modal-content {
  border: 1px solid #6495ed;
  border-radius: 0;
  padding: 0;
}
.modal-footer {
  height: 62px;
  padding: 10px 15px;
}
.modal-userId {
  height: 500px;
  overflow: hidden !important;
  top: 20%;
  width: 100%;
}
.attach-file-popup {
  top: 70px;
}
.popup-attach-dp {
  top: 40px;
}
.popup-attach-friend-dp {
  top: 100px;
}
.modal-userId-close {
  height: 35px;
  left: 85%;
  opacity: 0 !important;
  top: -5%;
  width: 35px;
  animation: spin 0.5s infinite linear;
  transition: all 1s linear;
}
.close-modal-backdrop {
  opacity: 0 !important;
  transition: opacity 1.2s linear;
}
.logo {
  border: 2px solid #17A589;
  border-radius: 20px;
  display: inline-block !important;
  float: left;
  margin-left: 5px;
  margin-top: 6px;
  padding: 7px 10px;
}
.loaded-chat {
  margin-top: 23px;
}
.user-list-item {
  border-bottom: 1px solid #1d1d1d;
  cursor: pointer;
  padding: 5px;
  &:hover {
    color: #aaa;
  }
}
.load-chat {
  margin-top: 18px;
  .load-chat-text {
    color: #3498db;
    font-weight: bold;
  }
}
.typing-user-panel {
  margin-bottom: 5px;
  text-align: center;
}
.spinner {
  background: black;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
}
.typing-user-text {
  display: inline-block;
  margin-top: 5px;
  min-height: 10px;
}
.glyphicon.spinning {
  animation: spin 0.5s infinite linear;
  color: #0c78f1;
  font-size: 24px;
  margin-left: 49%;
  margin-top: 300px;
  position: absolute;
  z-index: 5000;
}
.no-chat {
  background: rgba(234, 201, 244, 0.5);
  border: 1px solid #8d00b7;
  border-radius: 5px;
  box-shadow: 2px 1px 5px #A55CBB;
  color: #5D4764;
  padding: 20px;
}
.user-online {
  color: #2ecc71;
}
.user-offline {
  color: #a9cce3;
}
.user-typing {
  color: #8d00b7;
}
.user-last-seen {
  display: inline-block;
  width: 210%;
}
.btn-display-picture {
  background: transparent;
  border: 0 none;
  padding: 0;
  &:focus {
    outline: 1px solid #333;
  }
}
.btn-friend-display-picture:focus {
  outline: 1px solid #ddd;
}
.display-picture {
  border: 1px solid #a9cce3;
  border-radius: 20px;
  display: none;
  height: 40px;
  width: 40px;
}
.user-display-pic {
  border: 1px solid #555;
  border-radius: 20px;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 5px;
}
.chat-with-user {
  vertical-align: text-bottom;
}
.radio-inline, .checkbox-inline {
  font-weight: bold;
}
.no-padding {
  padding: 0;
}
.msg-time {
  bottom: 0px;
  font-family: monospace;
  font-size: 8px;
  position: absolute;
  right: 5px;
}
.active {
  background: #4e7075;
  color: #fff;
}
.preview-file-uploaded {
  display: block;
  margin: 0 auto;
  max-height: 200px;
  max-width: 95%;
}
.preview-dp {
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  height: 250px;
  width: 250px;
}
.file-shared-notification {
  background: #e6d8ff;
  border: 1px solid #23527c;
  border-radius: 4px;
  color: #4e7075;
  padding: 8px 10px 15px;
  text-align: center;
  .link-download {
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.file-animation {
  animation: bounce 0.8s ease-in-out;
}
.notify-chat-pending {
  background: #a9cce3;
  border-radius: 100px;
  color: #333;
  display: none;
  height: auto;
  margin-right: -6px;
  padding: 0 5px;
  position: fixed;
  right: 10px;
  top: 5px;
  width: auto;
  z-index: 10;
}
.chat-pending {
  background: #eac9f4;
  border-radius: 100px;
  color: #5D4764;
  display: none;
  height: auto;
  margin-left: 10px;
  padding: 0 5px;
  position: relative;
  width: auto;
  z-index: 10;
}
.beta-panel {
  left: 30%;
  position: absolute;
  top: 10px;
}
.beta {
  background: #7FBA00;
  border: 1px solid #000;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
}
.span-user {
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
  text-align: left;
}
.span-msg {
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}
.submit-form {
  display: none;
}
.file-notification {
  background: #e2e2e2;
  border: 1px solid #000000;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #000000;
  color: #2500dc;
  padding: 10px;
  position: absolute;
  right: -100px;
  top: 0;
  width: 0;
  z-index: 1000;
  .close {
    font-size: 30px;
    margin-top: -6px;
    padding: 0 6px;
    &:hover {
      animation: spin 0.5s ease-in-out;
    }
  }
  .span {
    display: inline-block;
    margin-right: 10px;
    margin-top: 3px;
  }
}
.show-file-notification {
  min-width: 40vw;
  right: 10px !important;
  width: auto;
  transition: right 0.5s linear;
}
/*uncomment to get inverted hamburger icon*/
// .navbar-toggle {
//   height: 44px;
//   margin-top: 0;
//   padding: 5px;
//   transform: rotate(90deg);
//   width: 34px;
//   & .icon-bar + .icon-bar {
//     margin-top: 7px;
//   }
// }
.icon-bar {
  margin-top: 0;
}
.pipe {
  display: inline-block;
  margin: 0 5px;
  transform: scale(2);
}
.no-users-to-load {
  margin-top: 60px;
  cursor: default;
}
/* Custom Scrollbar */
.scrollbar-panel {
  margin: 5px 5px 5px 0;
 .viewport {
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .scrollbar {
    background: transparent url('/images/bg-scrollbar-track-y.png') no-repeat 0 0;
    border-radius: 5px;
    position: relative;
    background-position: 0 0;
    float: right;
    width: 15px;
  }
  .track {
    height: 100%;
    width:13px;
    position: relative;
    padding: 0 1px;
  }
  .thumb {
    border-radius: 10px;
    background: transparent url('/images/bg-scrollbar-thumb-y.png') no-repeat 50% 100%;
    height: 20px;
    width: 9px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 3px;
    .end {
      background: transparent url('/images/bg-scrollbar-thumb-y.png') no-repeat 50% 0;
      overflow: hidden;
      height: 5px;
      width: 25px;
    }
  }
  .disable {
    display: none;
  }
}
.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.btn-smiley {
  height: 42px;
  margin: 0 !important;
  width: 42px;
}
.btn-open-smile {
  color: #3086ec;
  font-size: 30px;
}
.smiley {
  position: fixed !important;
  .smiley-icons {
    border: 1px solid #ddd;
    font-size: 23px;
    cursor: pointer;
    display: inline-block;
    margin-top: 2px;
    padding: 5px;
  }
  .smiley-symbols {
    bottom: 85px;
    position: absolute;
    right: 2px;
    width: 500px;
    .modal-footer {
      height: 35px;
    }
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes bounce {
  50% {
    transform:translate(3%);
  }
  60% {
    transform:translate(0%);
  }
  70% {
    transform:translate(-5%);
  }
  80% {
    transform:translate(0%);
  }
  90% {
    transform:translate(7%);
  }
  95% {
    transform:translate(3%);
  }
  100% {
    transform:translate(0);
  }
}
@-moz-document url-prefix() {
  .radio-panel .radio-user {
    margin-top: 0;
  }
  .file-notification {
    .span {
      margin-top: 2px;
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    background-repeat: repeat;
  }
  canvas {
    margin-left: 0;
  }
  *[class^='col-'] {
    padding-left: 5px;
    padding-right: 5px;
  }
  .radio-panel {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main .message-panel {
    margin-bottom: 170px;
  }
  .footer {
    padding: 0 10px 0;
    .btn-send-message {
      float: right;
    }
    .no-padding {
      padding-right: 15px;
    }
  }
  .loaded-chat{
    margin-top: -19px;
  }
  .load-chat {
    margin-top: -26px;
  }
  .navbar-nav > li {
    margin-left: 20px;
  }
  .smiley {
    .smiley-symbols {
      bottom: 167px;
      right: -8px;
    }
  }
}

@media screen and (max-width: 520px) {
  .header {
    .navbar-brand {
      display: none;
    }
    .navbar-toggle {
      float: left;
      margin-left: 10px;
    }
    .user-detail {
      width: 100% !important;
    }
    .beta-panel {
      left: 60px;
    }
  }
  .notify-chat-pending {
    left: 3px;
    right: inherit;
  }
  .smiley {
    .smiley-symbols {
      width: 90%;
    }
  }
}
